<html>
<head>
    <title>FINSTAGRAM!</title>
</head>
<body>

    <h1>Hello {{username}}!</h1>

    <a href="/upload_photo">Upload Photo</a>
    <br>

    <a href="/images">Your Feed</a>
    <br>

    <a href="/username">Search Usernames</a>
    <br>

    <a href="/tagged">Search Tags</a>
    <br>

    <a href="/f">Follow Someone</a>
    <br>

    <a href="/follow_requests">Follow Requests</a>
    <br>

    <a href="/following">People You Are Following</a>
    <br>
    <br>
    <br>

    <a href="/logout">Logout</a>

</body>


</html>
