<html>
<head>
    <title>Finstagram</title>
</head>
<body>
    <h1>Images found: </h1>
    <div>
        <style type="text/css">
            table, th, td {
                border: 1px solid black;
            }
        </style>
        <table>
            <th>timestamp</th>
            <th>photoID</th>
            <th>More information</th>

            {% for image in photos %}
            <tr>
                <td>{{image.postingdate}}</td>
                <td>{{image.photoID}}</td>
                <td><a href="/images/{{image.photoID}}">click here</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <a href="/home">Home</a>
</body>
</html>