<html>
<head>
    <title>Finstagram</title>
</head>
<body>


    {% if message %}
    {{ message }}
    {% endif %}

    {% for p in photo %}
    <form action="/tag/{{p.photoID}}" method="post" enctype="multipart/form-data" style={{hider}}>
    {% endfor %}
        <p>Enter usernames to tag separated by a comma with no space. ( eg. simone,divya)</p>
        <input type="text" name="username" placeholder="username" />
        <input type="submit" value="submit" onclick="/home">
    </form>

    <p>Once you're done tagging, press the home button</p>

    <a href="/home">Go home</a>
</body>
</html>